.app-container {
    display: flex;
    flex-direction: column;
}

.avatar-maker-container {
    display: flex;
    /*padding: 16px;*/
    flex-grow: 1;
}

.avatar-maker-container > div{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.color-selected {
    border: solid 2px white;
    padding: 3px;
    border-radius: 50%;
}

.color-not-selected {
    padding: 5px;
}

.color-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: white solid 2px;
}

.selection-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}


.shape-icon, .model-icon {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.shape-selected .shape-icon, .model-selected .model-icon{
    color: #9d131b;
    font-size: 18px;
}

.selection-icon > span {
    font-size: 32px;
}

.avatar {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.avatar .body-image {
    width: auto;
    height: 400px;
    position: absolute;
}
.hidden {
    display: none;
}

.TryoutCanvas {
    border: solid 2px red;
}

.right-menu-container {
    background-color: #b8bbcb;
}

.management-zone {
    padding: 12px 24px;
}
.management-zone button {
    margin-right: 12px;
}
