html, body, #root {
  height: 100%;
}

@font-face {
  font-family: witchyFont;
  src: url(assets/font/Witchy_font-Regular.otf), url(assets/font/Witchy_font-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: witchyFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
